<div class="container">
    <div class="row vertical-center mx0">
        <div class="col-2">
            <nav class="menu-dropdown">
                <ul>
                    <li><a href="#" class="href">Главная</a></li>
                    <li><a href="#" class="href">Навыки</a></li>
                    <li><a href="#" class="href">Портфолио</a></li>
                    <li><a href="#" class="href">Контакты</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-12 col-10">
            <img class="logo" src="images/logo.png" alt="">
        </div>
        <div class="gap col-xl-3"></div>
        <div class="col-xl-6 col-lg-8 col-md-12">
            <div class="menu">
                <div class="row">
                    <div class="cart mr4 p16">
                        <a href="#" class="href">
                            <i class="fa fa-home"></i>
                            <span>Главная</span>
                        </a>
                    </div>
                    <div class="cart mr4 p16">
                        <a href="#" class="href">
                            <i class="fa fa-wrench"></i>
                            <span>Навыки</span>
                        </a>
                    </div>
                    <div class="cart mr4 p16">
                        <a href="#" class="href">
                            <i class="fa fa-server"></i>
                            <span>Портфолио</span>
                        </a>
                    </div>
                    <div class="cart p16">
                        <a href="#" class="href">
                            <i class="fa fa-tty"></i>
                            <span>Контакты</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

